doctype html
html
  head
    title Library Manager
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Library Manager
      nav
        a(href="/books") Home
        a(href="/books/new") Add Book
    main
      block content
