doctype html
html
  head
    title Library Manager
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Library Manager
      nav
        //- Only show home button if not already on /books
        if !hideHomeButton
          a.button(href="/books") Home
        a.button(href="/books/new") Create New Book
    main
      block content
