doctype html
html
  head
    title Library Manager
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Library Manager
      nav
        //- Only show Create New Book button if not on /books/new
        if !hideCreateButton
          a.button(href="/books/new") Create New Book
    main
      block content
